@use "../../../styles/mixins" as *;

.gas-price-tracker {
  @include flex-stretch-between(32px);
  width: fit-content;

  &__info {
    justify-content: space-between;
    flex: 1;
  }

  &__btns {
    &__button {
      justify-content: flex-start;
    }

    &__btn {
      &__icon {
        width: 16px;
      }
    }
  }
}
