.gas-price-tracker {
  display: flex;
  gap: 32px;
  align-items: stretch;
  justify-content: space-between;
  width: fit-content;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    flex: 1;

    &__value {
      display: flex;
      gap: 4px;
      flex-direction: column;

      &__price {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__btn {
      display: flex;
      align-items: center;
      gap: 8px;

      &__icon {
        width: 16px;
      }
    }
  }
}
