@use "../../../styles/mixins" as *;

.gas-price-tracker {
  @include flex-stretch-between(32px);

  &__info {
    justify-content: space-between;
    flex: 1;

    &__desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__btns {
    &__button {
      justify-content: flex-start;
    }

    &__btn {
      &__icon {
        width: 16px;
      }

      &__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
