@use "../../../styles/mixins" as *;

.tx-item {
  @include flex-center-between(8px);
  width: 100%;

  &__first {
    &__icon {
      @include flex-center(0px);
      width: 40px;
      height: 40px;
      justify-content: center;
      background-color: var(--bg-dark-tertiary);
      color: var(--color-blue-light);
      border-radius: 50%;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }

      &--hidden {
        opacity: 0;
      }

      &--visible {
        opacity: 1;
      }
    }
  }

  &__second {
    &__to {
      &__icon {
        transform: rotate(90deg);
        margin-right: 8px;
        font-size: 14px;
      }
    }
  }
}
