:root {
  --bg-dark-primary: #0b0b0a;
  --bg-dark-secondary: #1c1c1d;
  --bg-dark-tertiary: #2c2c2c;
  --bg-dark-fortiary: #323437;

  --text-primary: #e8e8e8;
  --text-secondary: #bdbdbd;

  --color-light-accent: #c9c8c8;
  --color-dark-accent: #373737;

  --color-primary: #fe812c;
  --color-secondary: #4957e6;
  --color-success: #61b58b;
  --color-danger: #e54050;

  --color-blue-light: #b3c2e8;
}
