.chip {
  display: inline-flex;
  align-items: end;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: #e0e0e0;
  color: #333;
  user-select: none;
  transition: background-color 0.2s ease;
  cursor: default;

  &__icon {
    margin-right: 6px;
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 12px;
  }

  &--clickable {
    cursor: pointer;
  }

  &--default {
    background-color: var(--bg-dark-tertiary);
    color: white;
  }

  &--primary {
    background-color: var(--color-primary);
    color: white;
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: white;
  }

  &--success {
    background-color: var(--color-success);
    color: white;
  }

  &--danger {
    background-color: var(--color-danger);
    color: white;
  }
}
