.container {
  padding: 16px;
  border-radius: 16px;

  &--default {
    background-color: var(--bg-dark-secondary);
  }

  &--primary {
    background-color: var(--color-primary);
  }

  &--secondary {
    background-color: var(--color-secondary);
  }
}
