@use "../../styles/mixins" as *;

.drawer {
  &__overlay {
    @include fixed-fill;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 999;

    &--dark {
      background: rgba(0, 0, 0, 0.5);
    }

    &--blur {
      backdrop-filter: blur(6px);
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: var(--bg-dark-secondary);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
    padding: 16px;
    z-index: 1000;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    overflow-y: auto;

    &__header {
      @include flex-center-between(16px);
    }
  }

  &__body {
    margin-top: 20px;
  }

  &.open {
    .drawer__overlay {
      opacity: 1;
      visibility: visible;
    }

    .drawer__container {
      transform: translateX(0);
    }
  }
}
