.txs-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    &__item {
      background-color: var(--bg-dark-secondary);
      border-radius: 16px;
      padding: 8px;
    }
  }
}

.loading-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
}
