.copy-button-wrapper {
  position: relative;
  display: inline-block;
}

.copy-button {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 12px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-secondary);

  &--sm {
    font-size: 14px;
  }

  &--md {
    font-size: 16px;
  }

  &--lg {
    font-size: 20px;
  }

  .copied-text {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: var(--color-success);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    animation: riseAndFade 2s forwards;
  }
}

@keyframes riseAndFade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(-40px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-60px);
  }
}
