@use "../../../styles/mixins" as *;

.coin__details {
  @include flex-center-between(8px);
  width: 100%;
  flex-wrap: wrap;

  &__main {
    &__avatar {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 8px;
      overflow: hidden;
      justify-content: center;
      background-color: var(--color-secondary);

      img {
        width: 100%;
      }
    }
  }
}
